
<% include ./partials/header %>
<div >
    <div class="">
        <div class="">New Product</div>
        <form class="" action="/products" method="POST">
            <div class="">
                <label class="">Name</label>
                <input type="text" name="product[productname]" placeholder="Product name">
            </div>
            <div class="">
                <label class="control-label col-xs-2">Image</label>
                <input type="text" name="product[image]" placeholder="image">
            </div>
            <div class="">
                <label class="control-label col-xs-2">About Product</label>
                <textarea name="product[description]"></textarea>
            </div>
            <div class="">
                <div class="">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>


        </form>
    </div>
</div>



<% include ./partials/footer %>

